<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>myqr</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/qr.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="body">
	<div class="index">
		<h1>MyQR</h1>
		<br>
		<div class="form">
		<form action="/qr.png" , method="POST">
			{{text}}
		<ul>{% for file in files %}
			<li> <a href="{{ url_for('download', qr.pn=file) }}">{{ file }}</a></li>
		    {% endfor %}
	     </ul>
		</div>
	</div>


</body>
</html>