<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MyQR</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="body">
	<div class="index">
		<h1>MyQR</h1>
		<br>
		<div class="form">
			<form action="/download" method = "POST">
				<h2 style="color:rgb(8, 8, 8);">Download your QR </h2>
				<br>
				<br>
				<button type="download" class="btn btn-primary btn-block btn-large">Save as .png </button>
				<br>
				<br>
				</form>
				<form action="/save" method="POST">
				<button type="save"  class="btn btn-primary btn-block btn-large">Save as .svg</button>
				</form>
		</div>
	</div>


</body>
</html>